﻿@model IEnumerable<SIS.Lab1_2.Models.User>
@using SIS.Lab1_2.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Security Level</th>
        <th>Roles</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>@Html.DisplayFor(modelItem => item.SecurityLevel)</td>
        <td>
            <ul>
                @foreach (Role role in item.Roles)
                {
                    <li>
                        @role.Name
                    </li>
                }
            </ul>
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
