﻿@model IEnumerable<SIS.Lab1_2.Models.DiscreteObject>
@using SIS.Lab1_2.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Grant Rights", "GrantRights")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Read
        </th>
        <th>
            Write
        </th>
        <th>
            Own
        </th>
        <th>
            TG
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Read)</td>
            <td>@Html.DisplayFor(modelItem => item.Write)</td>
            <td>@Html.DisplayFor(modelItem => item.Own)</td>
            <td>@Html.DisplayFor(modelItem => item.TG)</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
        </tr>
    }

</table>
