﻿@model IEnumerable<SIS.Lab1_2.Models.BLObject>
@using SIS.Lab1_2.Models

@{
    SIS.Lab1_2.Models.User AppUser = Session["UserData"] as SIS.Lab1_2.Models.User;
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Security Level
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.SecurityLevel)</td>
            <td>
                @Html.ActionLink("Write", "Write", new { id = item.Id }) |
                @Html.ActionLink("Read", "Read", new { id = item.Id })
            </td>            
            @if (AppUser.IsInRole("admin"))
            {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
            }
        </tr>
    }

</table>
