﻿@model SIS.Lab1_2.Models.BLObject

@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

<div>
    <h4>BLObject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityLevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
